body {
	font: 12px sans-serif;
}
a:link, a:visited, a:hover, a:active {
  color: #E60268;
}

#result {
	width: 400px;
	margin: 0 auto;
}
path {
  fill: darkgray;
  fill-opacity: 0.5;
}
path:hover {
	fill-opacity: 1;
}
div.tooltip {
 	position: absolute;
	display: inline-block;
	text-align: left;
	line-height: 20px;
	height: 30px;
	padding: 5px 10px;
	background: white;
	border: 0px;
	border-radius: 5px;
	pointer-events: none;
}

.desc {
  text-align: center;
  width: 400px;
  margin: 30px auto 0;
}

.credit {
  text-align: center;
  width: 400px;
  margin: 0 auto;
}
.logo {
  position: relative;
  display: inline-block;
  height: 50px;
  line-height: 50px;
  vertical-align: middle;
  background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
}
.logo a span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.boonmeelab {
  background-image: url('logo_boonmeelab.png');
  width: 150px;
}
